numpy==1.23
tensorflow==2.8.0
protobuf==3.20.*
scipy
git+https://www.github.com/keras-team/keras-contrib.git
keras==2.8
matplotlib
opencv-python
scikit-image
#GDAL-3.2.3-cp39-cp39-win_amd64.whl
#rasterio-1.2.3-cp39-cp39-win_amd64.whl
#(linux just pip install rasterio==1.2.3)
rasterio==1.2.3
geopandas
scikit-learn
